<html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图书管理</title>
    <embed src="https://music.163.com/song?id=28152199&userid=344979197" hidden="true" autostart="true" loop="true">
    <audio autoplay="autoplay" loop="loop" controls="controls">
        <source src="../static/music/康姆士COM'Z%20-%20你要如何，我们就如何.mp3"
                type="audio/mp3">
    </audio>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
        //倒计时，截止时间：2020/12/31 00:00:0
        var time_now_server,time_now_client,time_end,time_server_client,timerID;
        time_end=new Date("2020/12/31 00:00:0");//结束的时间
        time_end=time_end.getTime();
        time_now_server=new Date();//开始的时间
        time_now_server=time_now_server.getTime();
        time_now_client=new Date();
        time_now_client=time_now_client.getTime();
        time_server_client=time_now_server-time_now_client;
        setTimeout("show_time()",1000);
        function show_time()
        {
            var timer = document.getElementById("timer");
            if(!timer){
                return ;
            }
            timer.innerHTML =time_server_client;

            var time_now,time_distance,str_time;
            var int_day,int_hour,int_minute,int_second;
            var time_now=new Date();
            time_now=time_now.getTime()+time_server_client;
            time_distance=time_end-time_now;
            if(time_distance>0)
            {
                int_day=Math.floor(time_distance/86400000);
                time_distance-=int_day*86400000;
                int_hour=Math.floor(time_distance/3600000);
                time_distance-=int_hour*3600000;
                int_minute=Math.floor(time_distance/60000);
                time_distance-=int_minute*60000;
                int_second=Math.floor(time_distance/1000);
                if(int_hour<10)
                    int_hour="0"+int_hour;
                if(int_minute<10)
                    int_minute="0"+int_minute;
                if(int_second<10)
                    int_second="0"+int_second;
                str_time=int_day+"天"+int_hour+"小时"+int_minute+"分钟"+int_second+"秒";
                timer.innerHTML=str_time;
                setTimeout("show_time()",1000);
            }
            else
            {
                timer.innerHTML =timer.innerHTML;
                clearTimeout(timerID)
            }
        }
        function sub(){
            //获取的当前时间戳
            var timestamp = (new Date()).getTime()/1000;
            var deadlinetime = 1609344000;
            if (deadlinetime > timestamp){
                //通过ajax与后端数据进行交互
                //获取选项
                var obj = document.getElementsByName("select");
                var check_val = [];
                var phoneNum = getPhone("phone");
                for (var k = 0;k < obj.length;k++){
                    if (obj[k].checked){
                        check_val.push(obj[k].id);
                    }
                }
                alert(check_val);
                $.ajax({
                    url : "http://10.225.10.102:8080/data",
                    type : "GET",
                    data : {"check_val" : check_val,"phone":phoneNum},
                    contentType:"application/x-www-form-urlencoded;charset=UTF-8",
                    success : function (data) {
                        if (data==="您已经投过票啦"){
                            alert(data);
                            url = "resultChartsLine";
                            window.location.href = url;
                        }
                        else {
                            alert("投票成功");
                            url = "resultChartsLine";
                            window.location.href = url;
                        }
                    },
                    error:function (errorMsg) {
                        alert(errorMsg);
                        alert("请做出选择-----");
                    }
                })
            } else {
                alert("投票时间截止")
            }
        }
        function search(){
            var searchBook = document.getElementById("search");
            if (searchBook == ""){
                alert("请输入搜索内容")
            } else {
                $.ajax({
                    url : "http://10.225.10.102:8080/book_search",
                    type : "GET",
                    data : {"searchBook":$("#search").val()},
                    contentType:"application/x-www-form-urlencoded;charset=UTF-8",
                    success : function (data) {
                        $(".book_recorde").html(data);
                    },
                    error:function (errorMsg) {
                        alert(errorMsg);
                        alert("请输入搜索内容");
                    }
                })
            }

        }
        //排序
        function sort(){
            $.ajax({
                url : "http://10.225.10.102:8080/sort",
                type : "GET",
                success : function (data) {
                $(".book_recorde").html(data);
                },
                error:function (errorMsg) {
                    alert(errorMsg);
                    alert("排序有问题");
                }
            })
        }
        $(function () {
            //倒计时10000s
            $("#vote").click(function () {
                var id = document.getElementsByName("select");
                // alert(id);
                var value = new Array();
                for (var i = 0;i < id.length;i++){
                    if (id[i].checked){
                        value.push(id[i].id);
                    }
                }
            })
        })

        //获取上个页面的phone
        function getPhone(key) {
            var reg = new RegExp("(^|&)" + key + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) {
                return unescape(r[2]);
            }
            return null;
        }

    </script>

</head>
<style type="text/css">



div{
        font-size:20px
    }

    .login{
        background-color: dodgerblue;
        width: 200px;
        height: 30px;
        color: cornflowerblue;
    }
    audio{
        display: none;
    }
    img{
        margin: 0 80px;
    }
    .fe-mod-8-main-img{
        text-align: center;
    }
    .sortNum{
        color: black;
        border-spacing: 1px;
        background-color:dodgerblue;
    }
    .radio_type{
        width: 20px;
        height: 20px;
        appearance: none;
        position: relative;
    }
    .radio_type:before{
        content: '';
        width: 20px;
        height: 20px;
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
    }
    .radio_type:checked:before{
        content: '';
        width: 20px;
        height: 20px;
        background:green;
        display: inline-block;
        vertical-align: middle;
    }
    .radio_type:checked:after{
        content: '';
        width: 10px;
        height:5px;
        border: 2px solid white;
        border-top: transparent;
        border-right: transparent;
        text-align: center;
        display: block;
        position: absolute;
        top: 6px;
        left:5px;
        vertical-align: middle;
        transform: rotate(-45deg);
    }
    .radio_type:checked+label{
        color: #c59c5a;
    }
    .vote{
        width: 150px;
        height: 30px;
        background-color: dodgerblue;
    }
    .time{
        height: 25px;
        width: 40px;
    }
    .search{
        text-align: right;
    }
    audio{
        display: none;
    }
    table{border-spacing: 30px 30px}
</style>
<body STYLE="BACKGROUND-COLOR:lightblue;">
<br/>
倒计时：<div id="timer">
</div>
<!--背景音乐-->
<audio autoplay="autoplay" loop="loop" controls="controls">
    <source src="../static/music/康姆士COM'Z%20-%20你要如何，我们就如何.mp3"
            type="audio/mp3">
</audio>
<!--<embed src="../static/music/music.mp3" width=170 height=25 loop="true" autostart="true">-->
<div class="search">
    <input class="itxt" type="text" placeholder="根据书名进行查找" autocomplete="off"
       tabindex="1" name="seach" id="search"/>
    <input type="submit" value="搜索" name="seachbtn" id="seachbtn" class="seachbtn" onclick="search()">
    <input type="submit" value="票数排序" name="sortNum" id="sortNum" class="sortNum" onclick="sort()">
</div>
    <div id="header" align="center">
        <div class="content" align="center">
            </div>
            <h3 class="case-title">选出对你影响最大的书籍</h3>
            <p class="case-ad-desc"><span>2020.8.13 -- 2020.12.31</span></p>
            <div class="case-outer">
                <div class="case">
                            <div class="case-perform-field">
                                <span class="case-perform-value"><i class="case-perform-symbol case-perform-symbol_" th:text="${totalNum}"></i></span>
                                <span class="case-perform-unit">票</span>
                            </div>
                            <div class="case-perform-desc">
                                累计投票数
                            </div>
                            <p class="case-desc">立身以立学为先，立学以读书为本。 ---朱熹</p>
                            <br/>
                            <br/>
                            <p class="separator">------------------------------书籍展示-------------------------------</p>
                </div>
                <div  class="book_recorde" th:fragment="book_recorde">
                        <table id="myTable">
                                <tr th:each="bookRecorde:${bookRecordes}">
                                    <td>
                                        <div class="fe-mod-8-good fe-mod-8-good0" atc="0">
                                            <div class="fe-mod-8-main fe-mod-8-main-opstyle0">
                                                <a class="fe-mod-8-main-img" >
                                                    <img th:src="@{${bookRecorde.img}}"  class="goodimg goodimg_794409" />
                                                    <div class="title" th:text="${bookRecorde.bookName}">
                                                    </div>
                                                    <div class="case-perform-desc">
                                                        累计投票数
                                                    </div>
                                                    <div class="sale_num" th:text="${bookRecorde.num}">
                                                    </div>
                                                    <div class="fe-mod-8-main-name">
                                                        <input type="checkbox" name = "select" class = "radio_type" th:id = "${bookRecorde.bookName}" />
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                        </table>
                        <input type="submit" value="投票" name="vote" id="vote" class="vote" onclick="sub()">
                </div>
            </div>
    </div>


<!--系统时间-->
    <script>
    Date.prototype.format = function (fmt) {
    var o = {
    "y+": this.getFullYear, //年
    "M+": this.getMonth() + 1, //月份
    "d+": this.getDate(), //日
    "h+": this.getHours(), //小时
    "m+": this.getMinutes(), //分
    "s+": this.getSeconds() //秒
    };
    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    for (var k in o)
    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
    return fmt;
    }
    setInterval("document.getElementById('dateTime').innerHTML = (new Date()).format('yyyy-MM-dd hh:mm:ss');", 1000);
    </script>
    <div id="dateTime"></div>
    <p><a href="http://10.225.10.102:8080/queryAll">投票信息介绍</a></p>
</body>
</html>