<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>投票系统</title>
    <img src="companylog.png" title="yoka" alt="youka" border="1" width="211" height="78"/>

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#sub_btn").click(function () {
                //获取用户名并校验
                var usernameText = $("#username").val();
                var usernamePatt = /^\w{5,12}$/;
                if (!usernamePatt.test(usernameText)){
                        //提示用户结果
                    $("span.errorMsg").text("用户名不合法");
                    return false;
                    alert(usernameText);
                }
                var passwordText = $("#password").val();
                var passwordPatt = /^\w{5,12}$/;
                if (!passwordPatt.test(passwordText)){
                    //提示用户结果
                    $("span.errorMsg").text("输入密码不合法");
                    alert(passwordText)
                    return false;
                }
                var repassword = $("#repassword").val();
                if (repassword != passwordText){
                    $("span.errorMsg").text("两次密码不一致");
                    return false;
                }
                //校验邮箱是否合法
                var email = $("#email").val();
                var emailpatt = /^\w+@[a-z0-9]+\.[a-z]{2,4}$/;
                if (!emailpatt.test(email)){
                    $("span.errorMsg").text("邮箱输入错误");
                    return false;
                }
                var code = $("#code").val();
                code = $.trim(code);
                //写死验证码
                var num = "7364";
                if (code != num){
                    $("span.errorMsg").text("验证码输入错误");
                    return false;
                }else {
                    // alert("注册成功!")
                }
                $.ajax({
                    url : "http://10.225.10.102:8080/registerData",
                    type : "POST",
                    data : {"userName" : usernameText,
                            "passWord" : passwordText,
                            "email"    : email,
                    },
                    contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                    success : function (data) {
                        if (data == "注册成功"){
                            url = "book_manager?phone="+usernameText;
                            window.location.href = url;
                        }
                        else {
                            alert(data);
                        }
                    },
                    error:function (errorThrown) {
                        alert("参数错误");
                    }
                })
            });
            $("#login").click(function () {
                url = "login";
                window.location.href = url;
            })
        })
    </script>
    <style type="text/css">
        .login_form{
            height: 420px;
            margin-top: 25px;
        }
        body {
            /*background-image:url("voteregister.png");*/
            background-size:100% 100%;
            background-attachment: fixed;"
        }
    </style>
</head>
<body>
    <div id="login_header">
        <img class="login_img" >
    </div>
    <div class="login_banner" align="center" style="padding-top: 130px" >
        <div id="content">
            <div class="login_form">
                <div class="login_box">
                    <div class="tit">
                        <h2>注册</h2>
                        <span class="errorMsg" style="color: red"></span>
                    </div>
                    <div class="form">
                            <input type="hidden" name="action" value="register">
                            <label>用户名称：</label>
                            <input class="itxt" type="text" placeholder="请输入手机号" autocomplete="off"
                                   tabindex="1" name="username" id="username"/>
                            <br/>
                            <br/>
                            <label>输入密码：</label>
                            <input class="itxt" type="password" placeholder="5-12数字和字母组合" autocomplete="off"
                                   tabindex="1" name="password" id="password"/>
                            <br/>
                            <br/>
                            <label>确认密码：</label>
                            <input class="itxt" type="password" placeholder="请再次输入密码" autocomplete="off"
                                   tabindex="1" name="repassword" id="repassword"/>
                            <br/>
                            <br/>
                            <label>电子邮箱：</label>
                            <input class="itxt" type="text" placeholder="请输入邮箱账号" autocomplete="off"
                                   tabindex="1" name="email" id="email"/>
                            <br/>
                            <br/>
                            <label style="padding-left: 100px">验证码：</label>
                            <input class="itxt" type="text" style="..." id="code" name="code" >
                            <img alt="" src="code.png" height="30" width="80" style="...">
                            <br/>
                            <br/>
                            <input type="submit" value="注册" id="sub_btn">
                            <input type="submit" value="登录" name="login" id="login">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>