<!DOCTYPE html>
<html lang="en">
<head lang="en">
    <meta charset="UTF-8" />
    <title>图形展示</title>
    <script src="https://cdn.bootcss.com/echarts/4.6.0/echarts.min.js"></script>
</head>
<body>
<div id="chart1" style="width:1000px; height: 1000px;"></div>

<script type="text/javascript">
    //指定图标的配置和数据
    var option = {
        title:{
            text:'书籍投票统计',
            x: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['Python从入门到实践','C++ Primer','C++ 项目开发实战入门','C++ 标准库','Java编程思想','Java核心思想',
                '数据结构和算法分析','深入理解Java虚拟机','JavaWeb项目实战','代码整洁之道','Spring 5核心原理','Effective Java',
                'Offer来了','Spring Boot实战','Java 8 函数式编程','Python标准库','利用Python进行数据分析','Python深度学习',
                'Python核心编程','Python预测之美','Python统计分析','Effective Python']
        },
        series:[{
            name:'访问量',
            type:'pie',
            radius:["25%","45%"],
            center:['50%','50%'],
            avoidLabelOverlap:true,
            data:[
                {name:"Python从入门到实践",value:121},
                {name:"C++ Primer",value:299},
                {name:"C++ 项目开发实战入门",value:123},
                {name:"C++ 标准库",value:234},
                {name:"Java编程思想",value:223},
                {name:"Java核心思想",value:222},
                {name:"数据结构和算法分析",value:21},
                {name:"深入理解Java虚拟机",value:312},
                {name:"JavaWeb项目实战",value:31},
                {name:"代码整洁之道",value:133},
                {name:"Spring 5核心原理",value:109},
                {name:"Effective Java",value:123},
                {name:"Offer来了",value:122},
                {name:"Spring Boot实战",value:1099},
                {name:"Java 8 函数式编程",value:173},
                {name:"Python标准库",value:562},
                {name:"利用Python进行数据分析",value:223},
                {name:"Python深度学习",value:522},
                {name:"Python核心编程",value:283},
                {name:"Python预测之美",value:109},
                {name:"Python统计分析",value:403},
                {name:"Effective Python",value:284}
            ]
        }]
    };
    //初始化echarts实例
    var myChart = echarts.init(document.getElementById('chart1'));
    //使用制定的配置项和数据显示图表
    myChart.setOption(option);
</script>

</body>
</html>